$whiteColor: white;
$openSans: 'Open Sans', sans-serif;
$playFair:'Playfair Display', serif;
$textCenter: center;
$greenColor: #44BBA4;
$smallText: 20px;
$pinkColor: #E94F37;
$graniteColor: #5D6163;
$grayColor: #BABABA;